In [2]:
no_of_sites = 3
#use of underscope  is hm kisi bhi 2 ya 3 word k darmiyan space use kr skte h is tarah se

In [7]:
a = 1
b = 2
c = 1
d=b**2-4*a*c
if d<0:
    print("Solution is does not exit")
else:
    x1=(-b+d**0.5)/(2*a)
    x2=(-b-d**0.5)/(2*a)
    print("x1=",x1,"x2=",x2)
#is me hm ne squar nikala h

x1= -1.0 x2= -1.0

In [10]:
age=3
age-=2
print(age) 
#is se hm kisi bhi varable ki value ko + -  ya * / kr skte hn

1

In [12]:
((2**3)*2)

16

In [13]:
x = 1 
y = 2
z = x = y = 3

In [14]:
z

3

In [15]:
y

3

In [16]:
x

3

In [20]:
x = "hello"
x += "world"
print(x)

helloworld

In [21]:
x="the no of 2 plus 2 is" + str(4)

In [22]:
x

'the no of 2 plus 2 is4'

In [27]:
x = int(input("enter no"))
if x%2 == 0:
    print("the no is even")
else:
    print("the no is odd")

enter no8
the no is even

In [1]:
x = int(input("no :"))
if x > 0 :
    print("the no is positive")
elif x == 0:
    print("the no is zero")
else:
    print("the no is negative")

no :5
the no is positive

In [31]:
x = 0
if x == 0:
    print(x)

0

In [36]:
if 13:
    print("negative")

negative

In [37]:
bool(13)

True

In [39]:
bool("false")

True

In [2]:
a = 3
b = 6 
c = 8
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
else:
    print("C is greater")

C is greater

In [51]:
a = 65
b = 64
c = 17
if a>b:
    if a>c:
        print("A is greater")
elif b>c:
    if b>a:
        print("B is greater")
else:
    print("C is greater")

A is greater

In [52]:
cities = ["karachi","lahore","peshawar"]

In [53]:
cities[0]

'karachi'

In [56]:
cities.append("islamabad")
cities

['karachi', 'lahore', 'peshawar', 'islamabad']

In [58]:
cities.insert(2,"lahore")

In [59]:
cities

['karachi', 'lahore', 'lahore', 'peshawar', 'islamabad']

In [60]:
del cities[1]

In [61]:
cities

['karachi', 'lahore', 'peshawar', 'islamabad']

In [62]:
list(cities)

['karachi', 'lahore', 'peshawar', 'islamabad']

In [65]:
cities += ["bombay","Kelkata"]

In [66]:
cities

['karachi', 'lahore', 'peshawar', 'islamabad', 'bombay', 'Kelkata']

In [68]:
cities.remove("lahore")
cities

['karachi', 'peshawar', 'islamabad', 'bombay', 'Kelkata']

In [71]:
cities

['karachi', 'peshawar', 'islamabad', 'bombay', 'Kelkata']

In [72]:
cities[4]

'Kelkata'

In [73]:
cities

['karachi', 'peshawar', 'islamabad', 'bombay', 'Kelkata']

In [74]:
cities[2:4]

['islamabad', 'bombay']

In [76]:
cities[0:3:2]

['karachi', 'islamabad']

In [77]:
cities[::3]

['karachi', 'bombay']

In [78]:
cities[:]

['karachi', 'peshawar', 'islamabad', 'bombay', 'Kelkata']

In [79]:
x = cities

In [80]:
x[0]="sydney"
x

['sydney', 'peshawar', 'islamabad', 'bombay', 'Kelkata']

In [81]:
y = cities[:]

In [82]:
y[0]="jaddah"

In [83]:
cities

['sydney', 'peshawar', 'islamabad', 'bombay', 'Kelkata']

In [84]:
y

['jaddah', 'peshawar', 'islamabad', 'bombay', 'Kelkata']

In [85]:
cities[::-1]

['Kelkata', 'bombay', 'islamabad', 'peshawar', 'sydney']

In [87]:
z=cities.pop(2)

In [88]:
z

'bombay'

In [89]:
#ab loop learn kr rhe hn

In [ ]:
for loops

In [98]:
a = int(input("Enter a print table"))
for i in range(1,11):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

Enter a print table5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [99]:
a = int(input("Enter a print table"))
for i in range(10,0,-1):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

Enter a print table5
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [101]:
name = "muzammil"
for a in name:
    print(a)

m
u
z
a
m
m
i
l

In [3]:
student=["asad","waseem","asim",'zaeem','ubaid']
student

['asad', 'waseem', 'asim', 'zaeem', 'ubaid']

In [4]:
student[4]

'ubaid'

In [5]:
del student[3]

In [6]:
student

['asad', 'waseem', 'asim', 'ubaid']

In [8]:
student.insert(3,"zaeem")

In [9]:
student

['asad', 'waseem', 'asim', 'zaeem', 'ubaid']

In [11]:
student.append("osama")
student

['asad', 'waseem', 'asim', 'zaeem', 'ubaid', 'osama', 'osama']

In [12]:
student.remove("osama")
student

['asad', 'waseem', 'asim', 'zaeem', 'ubaid', 'osama']

In [20]:
student[7:0:-1]

['osama', 'ubaid', 'zaeem', 'asim', 'waseem']