In [31]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                                ['Green', 'Red', 'Green']])

In [32]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [33]:
frame.swaplevel(0, 1).sort_index(level=0)

     Ohio     Colorado
    Green Red    Green
1 a     0   1        2
  b     6   7        8
2 a     3   4        5
  b     9  10       11

In [25]:
data = pd.Series(np.random.randn(9),
        index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
             [1, 2, 3, 1, 3, 1, 2, 2, 3 ]])

In [26]:
data

a  1   -1.242461
   2    0.498569
   3   -0.093837
b  1    0.569263
   3    0.845147
c  1   -1.579334
   2    0.499600
d  2    1.566383
   3    0.197251
dtype: float64